@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url("https://use.typekit.net/nrf8ylf.css");
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');


.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 700;
  font-style: normal;
}



@font-face {
  font-family: "Formula Condensed";
  font-style: normal;
  font-weight: 700;
  src: url(/font/FormulaCondensed-Bold.woff2) format("woff2"),url(/font/FormulaCondensed-Bold.woff) format("woff")
}

    /* Loader Styling */
    #loader {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
 
        background-color: #22222200;
        z-index: 9999;
        overflow: hidden;
    }

    #loader img{
        width: 45%;
        height: auto;
    
    }
    

    @media only screen and (max-width: 768px) {
      #loader img{
        width: 100%;
        height: auto;
    
    }
    
    }

 .loader-hidden {

    transform: translateY(-100%); /* Slide up */
    transition: all 2s cubic-bezier(0.19,1,0.22,1);
}
     /* Main content */
     #content {
      
        display: none;
        transition: opacity 1s ease-in; /* Smooth fade-in for content */
    }

    /* Fade-in animation */
    @keyframes fadeIn {
        to {
            opacity: 1;
        }
    }

    /* NOISE*/

    .main-wrapper {
        position: fixed;
        padding: 0;
        min-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.2;
      }
       .noise-wrapper {
        position:fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        overflow: hidden;
        z-index: 10;
    }
    
    .noise-wrapper::after {
        content: '';
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);
      }
    
    
    .noise {
      position: fixed;
      top: -500px;
      right: -500px;
      bottom: -500px;
      left: -500px;
      background: transparent url(noise.png) 0 0;
      background-size: 320px 320px;
        opacity: .8;
        animation: noise 1s steps(8,end) infinite both;
    }
    
    @keyframes noise {
      0% {
        transform: translateX(0px,0px); }
      10% {
        transform: translate(-100px, 100px);
      }
      20% {
        transform: translate(150px, -100px);
      }
      30% {
        transform: translate(-100px,100px);
      }
      40% {
        transform: translate(100px, -150px);
      }
      50% {
        transform: translate(-100px, 200px);
      }
      60% {
        transform: translate(-200px, -100px);
      }
      70% {
        transform: translateY(50px, 100px);
      }
      80% {
        transform: translate(100px, -150px);
      }
      90% {
        transform: translate(0px, 200px);
      }
      100% {
        transform: translate(-100px, 100px);
      }
    }


header {
    top: 5%;
    align-items: center;
    color: #ffff;
    display: flex;
    height: var(--header-height);
    justify-content: space-around;
    left: calc(var(--padding) + var(--safe-area-inset-left));
    position: sticky;
     top: calc(2rem + var(--safe-area-inset-top)); 
    /* display: block; */
    width: 90%;
    gap: 20%;
    z-index: 2;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    opacity: 0;
    transform: translateY(-300px);
    transition: all 1s cubic-bezier(0.19,1,0.22,1), opacity 3s cubic-bezier(0.19,1,0.22,1), transform 1s cubic-bezier(0.19,1,0.22,1) 0s; /* Smooth transition for style changes */

  }
  
  header.sticky {
    top: 2.5rem;
    justify-content: space-around;
    width:85%;
    gap: 20%;
    z-index: 2;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    padding: 0 2%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-color: #5b5b5b73;
    backdrop-filter: blur(25px);
    color: white;
    border-radius: 50rem;
    border: 1px solid #ffffff78;
    
    transition: 1s all cubic-bezier(0.19,1,0.22,1), opacity 3s cubic-bezier(0.19,1,0.22,1), transform 1s cubic-bezier(0.19,1,0.22,1);
  }
  #about {
    scroll-margin-top: 15rem;
}
#livework{
 padding: 0rem 0;
}

  #fadeDiv{
    opacity: 0;
    transform: translateY(-100px);
    transition: 1s all cubic-bezier(0.19,1,0.22,1), opacity 3s cubic-bezier(0.19,1,0.22,1) 0s, transform 1s cubic-bezier(0.19,1,0.22,1) 0s;

}
.hidden {
  opacity: 0 !important;
  transition: opacity 1s ease;
}
.visible {
  opacity: 1 !important;
}

  /* Fade-up effect */
  .fade-up {
    opacity: 1 !important;
    transform: translateY(0) !important;
  
  }

  /* Fade-up effect */
  .fade-up2 {

    transform: translateY(0);
  }

  
  header:after {
    left: -.75rem;
  }
  
 
  .bar {
    height: 4px;
    background-color: #ddd; /* Default color */
    box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
    transition: all .5s ease-out;
  }
  
  header.sticky .bar{
    background-color: #000000;
  }

 
/* Simulated content */
.content {
  padding: 0px 20px;
    height: auto;
}

#menu-icon {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -12px;
    margin-right: 30px;
    display: none;
}

@media only screen and (max-width: 959px) {
    #menu-icon {
        display: inline;
        top: 45px;
        cursor: pointer;
    }
}


#header:after {
    content: "";
    clear: both;
    display: block;
}

#container {
    padding-top: var(--padding);
    transition: opacity .2s cubic-bezier(0.39,0.575,0.565,1);
}


.menu {
  grid-row-gap: 4rem;
  display: grid;
  grid-template-areas:
      "location location"
      ". social"
      "menu menu"
      "copyright copyright";
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr auto 1fr 2rem;
  touch-action: none;
    position: fixed;
    top: -100%;
    right: 5%;
    width: 90%;
    height: 80%;
    background-color: rgb(255 255 255 / 35%);
    backdrop-filter: blur(15px);
    padding: var(--padding) calc(var(--padding) + var(--safe-area-inset-right)) var(--padding) calc(var(--padding) + var(--safe-area-inset-left));
    box-shadow: inset -20px -19rem 20rem 0 rgb(255 255 255 / 55%);
    color: var(--color-primary);
    z-index: 100;
    row-gap: 1rem;
    border: 1px solid #ffffff;
    border-bottom-left-radius:3rem;
    border-bottom-right-radius:3rem;
    transition: box-shadow 3s cubic-bezier(0.19,1,0.22,1),top 1s cubic-bezier(0.19,1,0.22,1);
 
}
.menu:hover {
    box-shadow: inset -15px 20rem 20rem 0 rgb(255 255 255 / 55%);
    transition: box-shadow 3s cubic-bezier(0.19,1,0.22,1),top 1s cubic-bezier(0.19,1,0.22,1);
}
.menu.open {
    top: -1%; /* Moves into view when open */
}

@media only screen and (max-width: 768px) {
  .menu {
      right: 0%;
      width: 100%;
  }
}


@media only screen and (min-width: 600px) {
  .menu {
      grid-template-areas:
      ". ."
      "menu menu"
      "social copyright";
      grid-template-rows: 2rem 1fr 2rem;
  }
}


.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 999;
}

.close-btn svg {
    width: 34px;
    height: 34px;
    color: white;
}

.staggered-container{
  scale: 1;
  position: relative;
  margin-top: 10rem;
    background-color: #22222200;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-direction: column;
}


.staggeredtext-container {
    align-items: center;
     display: flex;
     flex-wrap: nowrap;
     gap: .22em;
     justify-content: space-between;
     overflow: hidden;
     height: 10dvw;
     margin-bottom: 5px;
     letter-spacing: 1px;
 }
 
 
 .staggered-text {
  font-family: "Formula Condensed",Helvetica,Arial,sans-serif;
     margin: 2dvw 1dvw 0px;
 }
 
 .staggered-text span {
     display: inline-block;
     opacity: 0; /* Start invisible */
     font-size: 10vw;
     transform: translateY(100px); /* Start from below */
     transition: opacity 0.3s cubic-bezier(0.39,0.575,0.565,1), transform 0.3s cubic-bezier(0.39,0.575,0.565,1); /* Transition for opacity and transform */
  
 }
 
 .staggered-text span.visible {
     opacity: 1; /* Make it visible */
     transform: translateY(0); /* Move to original position */
     animation: bounce 1.5s cubic-bezier(0.86,0,0.07,1) forwards; /* Bounce animation */
 }
 .bounce-none {
  opacity: 1; /* Make it visible */
  transform: translateY(0); /* Move to original position */
  animation: none; 
}
 .staggered-text2 {
  font-family: "Formula Condensed",Helvetica,Arial,sans-serif;
     margin: 2dvw 0dvw 0px 1dvw;
  
 }
 
 .staggered-text2 span {
     display: inline-block;
     font-size: 10vw;
     opacity: 0; /* Start invisible */
     transform: translateY(100px); /* Start from below */
     transition: opacity 0.6s cubic-bezier(0.39,0.575,0.565,1), transform 1s cubic-bezier(0.19,1,0.22,1); /* Transition for opacity and transform */
 
 }
 
 .staggered-text2 span.visible {
     opacity: 1; /* Make it visible */
     transform: translateY(0); /* Move to original position */
     animation: bounce 1.5s cubic-bezier(0.86,0,0.07,1)  forwards; /* Bounce animation */
 }
 
 
 /* Bounce Keyframes */
 @keyframes bounce {
     0% {
         transform: translateY(200px); /* Start from below */
     }
     90% {
         transform: translateY(-10px); /* Go above the final position */
     }
     100% {
         transform: translateY(0); /* Settle in final position */
     }
 }
 
 
  /* Image styles */
 
 
 
         .line {
             margin: 1dvw 2dvw;
     height: 8.5vw;
     line-height: inherit;
 
     white-space: nowrap;
     }
 
     .img {
        
       transition: width 2s cubic-bezier(0.86,0,0.07,1) 0.5s;
       width: 0;
       overflow: hidden;
       border-radius: 10px;
       display: inline-block;
     height: 100%;
     will-change: transform;
     }
 
     .img.expand {
       width: 15vw; /* Final expanded width */
     }
 
     span img {
      width: 15vw;
       height: auto;
       border-radius: inherit;
       display: block;
       margin: 0 auto;
 
     }
     span video {
      width: 15vw;
       height: auto;
       border-radius: inherit;
       display: block;
       margin: 0 auto;
 
     }
     .image-container{
      display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
     }

 .line small {
     bottom: 0%;
     display: inline-block;
     font-family: Inter, Helvetica, Arial, sans-serif;
     font-size: 1rem;
     font-style: normal;
     font-weight: 400;
     left: .5em;
     letter-spacing: 0;
     line-height: 1;
     position: relative;
     opacity: 0;
     animation: small-enter 0.6s cubic-bezier(0.39,0.575,0.565,1) 1s forwards; /* Bounce animation */
 }
 
 
 /* Bounce Keyframes */
 @keyframes small-enter {
     0% {
         opacity: 0; /* Start from below */
     }

     100% {
        opacity: 1;  /* Settle in final position */
     }
 }
 


 @media only screen and (max-width: 768px) {
  .img.expand {
    width: 10vw; /* Final expanded width */
  }
  .line small {
  display: none;}

  .staggered-text span.visible {
 
    animation: bounce 1.5s cubic-bezier(0.86,0,0.07,1) forwards; /* Bounce animation */
}
.staggered-text2 span.visible {

  animation: bounce 1.5s cubic-bezier(0.86,0,0.07,1)  forwards; /* Bounce animation */
}
  .staggeredtext-container {
    height: 13dvw;
    

}
    .staggered-text span {
        font-size: 14vw;
    }
    .staggered-text2 span {
        font-size: 14vw;
    
    }
    .img {  
    border-radius: 5px;
    }
    .line {
        height: 12vw;
        margin: 1dvw 1dvw;
    }

 /* Bounce Keyframes */
 @keyframes bounce {
    0% {
        transform: translateY(150px); /* Start from below */
    }
    60% {
        transform: translateY(0px); /* Go above the final position */
    }
    100% {
        transform: translateY(0); /* Settle in final position */
    }
}
}



.hamburger-menu {
    left: 50%;
    position: fixed !important;
    top: 0;
    transform: translateX(-50%);
}





.card {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1.5s ease-out, transform 1.5s cubic-bezier(0.19,1,0.22,1);
}
.card.visible {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1.5s ease-out, transform 1.5s cubic-bezier(0.19,1,0.22,1), box-shadow 3s cubic-bezier(0.19,1,0.22,1);
}

 
 .slide-in-from-right {
     animation: 1s cubic-bezier(0.39,0.575,0.565,1) 0s 1 slideInFromRight forwards;
   }
 @keyframes slideInFromRight{
     0% {
         opacity: 0;
       transform: translateX(-10%);
     }
    
     100% {
         opacity: 1;
       transform: translateX(0);
     }
   }


   .index{
    opacity: 0;
    transform: translateY(1%); /* Move to original position */
    animation: index-slide-in 0.6s cubic-bezier(0.39,0.575,0.565,1) 0s forwards; /* Bounce animation */
   }
 /* Bounce Keyframes */
 @keyframes index-slide-in {
  0% {
opacity: 0;
      transform: translateY(0%); /* Start from below */
  }
  80% {
    opacity: 1;
      transform: translateY(-100px); 
  }
  100% {
    opacity: 1;
      transform: translateY(0); /* Settle in final position */
  }
}

.dot {
  height: 2rem;
  width: 2rem;
  margin: 2px;
  background-color: #ffffff;
border: 1px solid white;
  border-radius: 50%;
  display: inline-block;
}
.dot-outline {
  height: 2rem;
  width: 2rem;
  margin: 2px;
  background-color: #ffffff00;
border: 1px solid white;
  border-radius: 50%;
  display: inline-block;
}


@media only screen and (max-width: 768px) {
  .dot {
    height: 1.5rem;
    width: 1.5rem;
  }
  .dot-outline {
    height:1.5rem;
    width: 1.5rem;
  }
 

}


          
.card .image[data-v-cardsinfoabout] {
  border-radius: var(--radius);
  grid-area: image;
  overflow: hidden;
  padding-top: 60%;
  position: relative;
  width: 100%;
  will-change: transform;
  display: block;
  height: 50%;
  transition-duration: .5s;
  opacity: 1;
  object-fit: cover;
  transition-timing-function: cubic-bezier(0,0,.2,1);
}
.card img[data-v-cardsinfoabout] {
  border-radius: var(--radius);
  height: 100%;
  left: -2.5%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: -2.5%;
  transition: .5s transform var(--ease-out-cubic);
  width: 105%;
}
.card .image[data-v-cardsinfoabout]:after {
  box-shadow: inset 0 0 3rem 0 rgba(0, 0, 0, .5);
  content: "";
  height: 94%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: .5s opacity var(--ease-out-cubic);
  width: 100%;
}

#myBtn-gotop {
  display: none;
  position: fixed;
  bottom: 2dvh;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  /* border: none; */
  outline: none;
  backdrop-filter: blur(20px);
  border: 1px solid white;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  padding: 10px 15px 5px 15px;
}
#myBtn-gotop:hover {

 background-color: #ffffff41;
 transition: transform 0.5s ease;
}

#myBtn-gotop:hover .arrow-top{

  transform: rotate(25deg);
  transition: transform 0.5s ease;
 }
 

.arrow-top{
  display: block;
    margin: 10px 0px 5px 0px;
    width: 20px;
    height: 20px;
    border-top: 3px solid #ffffff;
    border-left: 3px solid #ffffff;
    transform: rotate(45deg);
    transition: transform 0.5s ease;
}

.typewriter-container{
  position: fixed;
  display: flex;
  margin: auto;
  width: auto;
  min-width: 10%;
  background-color: #dddddd3b;
  border-radius:30px;
  border: 1px solid rgb(255, 255, 255);
  padding: 0px 10px;
  left: 50%;
  transform: translate(-50%, 0);
  visibility: hidden;
  bottom: 0;

  z-index: 9999;
  animation: fadeIntypewriter 1s ease 2s forwards;
  justify-content: center;
  align-items: center;
}

.typewriter-container h1{
  font-size: 20px;
  line-height: 42px;
  padding: 0px;
  color: white;
  font-family: "Formula Condensed",Helvetica,Arial,sans-serif;
  }
  
    /* Fade-in animation */
    @keyframes fadeIntypewriter {
      0% {
        opacity: 0;
        visibility: hidden;
    }
     100% {
        opacity: 1;
          visibility: visible;
      }
  }

  .scroll-animation {
    display: flex;
        position: relative;
        height: 50px;
        width: 100%;
        justify-content: center;
        position: fixed;

        bottom: 10dvh;
  }
  
  .chevron {
    position: absolute;
    width: 30px;
    height: 5px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 1s ease-out 1s infinite;
  }
  
  .chevron:first-child {
    animation: move 1s ease-out 1s infinite;
  }
  
  .chevron:nth-child(2) {
    animation: move 1s ease-out 1s infinite;
  }
  
  .chevron:before,
  .chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #fff;
  }
  
  .chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
  }
  
  .chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
  }
  
  @keyframes move {
    25% {
      opacity: 1;
  
    }
    33% {
      opacity: 1;
      transform: translateY(30px);
    }
    67% {
      opacity: 1;
      transform: translateY(40px);
    }
    100% {
      opacity: 0;
      transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
  }
  
  .text {
    display: block;
    margin-top: 75px;
    margin-left: -30px;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: .25;
    animation: pulse 2s linear alternate infinite;
  }
  
  @keyframes pulse {
    to {
      opacity: 1;
    }
  }
  body {
    transition: opacity 0.3s ease-in-out;
  }
  .fade-out {
    opacity: 0;
  }
  #container {
    transition: opacity 0.3s ease-in-out; /* Smooth fade-out */
    opacity: 1;
  }
  .hidden {
    opacity: 0;
    pointer-events: none; /* Prevent interaction while fading */
  }


  
  .featured{
    align-self: center;}
    .featured .slider {
      list-style: none;
    padding: 0;
    }
    .slider li {
      height: 400px;
      width: 300px;
      border-radius: 4px;
        background-color: #00bcd4;
      display:flex;}

      .slider li h2{
        margin-top: auto;
        background: #fff;
        width: 100%;
        padding: 20px 20px;
        display: block;
        bottom: 0;
      
      }
      .slider li:nth-child(n) {
        background-color: #3599db;
      }
      .slider li:nth-child(2n) {
        background-color: #e61b77;
      }
      .slider li:nth-child(3n) {
        background-color: #00bcd4;
      }
      .slider li:nth-child(4n) {
        background-color: #f4b251;
      }
      .slider li:nth-child(5n) {
        background-color: #8e4497;
      }
  
  
  /* STACKED CARDS */
  .stacked-cards {
    position: relative;
    width: 100%;
    padding: 5%;
    overflow: hidden;
  }
  .stacked-cards ul {
      position: relative;
      max-width: 60%;
      margin: 0 auto;
      padding-left: 0;
  }
  
  .stacked-cards li {
      margin-top: 5px;
      cursor: pointer;
      border-radius: 8px;
      box-shadow: 0 3px 6px 0px #333;
      list-style: none;
      width: 65%;
      position: absolute;
      left: 50%;
      transition: 0.5s ease transform;
  }
  
  .stacked-cards li:after {
      bottom: 0;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
  }
  .stacked-cards li img {
      position: relative;
      display: block;
      max-width: 100%;
      height: auto;
      z-index: 4;
  }
  .stacked-cards li.active {
      cursor: default;
      box-shadow: 0 5px 10px 0px #333;
      transition: 0.5s ease transform;
  }